/* FONTS */
@font-face {
    font-family: ocra;
    src: url(../fonts/ocraregular.ttf);
}

/* KEYFRAMES */

/* GENERAL */

*{
    box-sizing: border-box;
    color: #e2e2e2;
}

::-webkit-scrollbar{
    display: none;
}

html,body{
    padding: 0;
    margin: 0;
}

#wrapper{
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background: #292929;
    min-height: 100vh;
}

/* TOP NAV */
#wrapper nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #292929;
    color: #e2e2e2;
    font-size: 18px;
    z-index: 11;
    position: fixed;
    top:0;
}

#wrapper nav .nav-urls{
    padding-right: 40px;
}

#wrapper nav .nav-urls .item{
    margin: 0;
}

#wrapper nav .nav-urls .item:not(:first-child)::before{
    content: "|";
    padding-right: 10px;
    padding-left: 10px;
}

#wrapper nav .nav-urls .item a{
    color: #e2e2e2;
    text-decoration: none;
    transition: opacity ease-in-out .2s;
}

#wrapper nav .nav-urls .item a:hover{
    opacity: 0.5;
}

#wrapper nav .nav-urls .item.active a{
    color:aqua;
}

#wrapper nav .nav-title{
    padding-left: 20px;
    font-size: 40px;
    font-weight: 700;
    background-image: linear-gradient(90deg,#2a58ac,aqua);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#wrapper nav .nav-toggler{
    display: none;
}

#wrapper .progress-container {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0,0,0,0);
  z-index: 3;
}

#wrapper .progress-container .progress-bar{
    height: 100%;
    width: 0%;
    background: aqua;
}

#wrapper nav #toggler, #wrapper nav .toggle{
    display: none;
}

/* RESPONSIVE DESIGN - NAV */
@media screen and (max-width: 1080px){
    #wrapper nav{
        display:flex;
        flex-direction: column;
        min-height: 80px;
        height: fit-content;
        transition: height ease-in-out .5s;
    }

    #wrapper nav .nav-urls{
        transform: translateY(-1000px);
        transition: all ease-in-out .5s;
    }

    #wrapper nav .nav-title{
        font-size: 22px;
        top: calc(40px - 10px);
        left: 20px;
        position: absolute;
    }

    #wrapper nav.mobile-open .nav-urls{
        transform: translateY(0px);
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    #wrapper nav.mobile-open .nav-urls .item{
        width: 90vw;
        display: flex; 
        flex-direction: row;
    }

    #wrapper nav.mobile-open .nav-urls .item::before{
        content: "";
        padding: 0 10px;
    }

    #wrapper nav.mobile-open .nav-urls .item.active{
        padding-left: 20px;
    }

    #wrapper nav.mobile-open .nav-urls .item a{
        display: inline-block;
        padding: 15px 0;
        border-bottom: 1px solid #3d3d3d;
        width:100%;
    }

    /* TOGGLER */

    #wrapper nav .toggle {
        position: absolute;
        right: 20px;
        top: calc(80px / 2 - 25px);
        width: 50px;
        cursor: pointer;
        margin: auto;
        display: block;
        height: calc(6px * 3 + 16px * 2);
    }

    #wrapper nav .toggle .bar {
        position: absolute;
        left: 0;
        right: 0;
        height: 6px;
        border-radius: calc(6px / 2);
        background: #e2e2e2;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
    }

    /***** Spin Animation *****/

    #wrapper nav .toggle .bar.bar--top {
        bottom: calc(50% + 12px + 6px/ 2);
        transition-property: bottom,transform;
        transition-delay: calc(0s + 0.35s),0s;
    }

    #wrapper nav .toggle .bar.bar--middle {
        top: calc(50% - 6px/ 2);
        transition-property: opacity;
        transition-delay: calc(0s + 0.35s);
    }

    #wrapper nav .toggle .bar.bar--bottom {
        top: calc(50% + 12px + 6px/ 2);
        transition-property: top,transform;
        transition-delay: calc(0s + 0.35s),0s;
    }

    #wrapper nav #toggler:checked + .toggle .bar.bar--top {
        bottom: calc(50% - 4px/ 2);
        transform: rotate(135deg);
        transition-delay: 0s,calc(0s + 0.35s);
    }

    #wrapper nav #toggler:checked + .toggle .bar.bar--middle {
        opacity: 0;
        transition-duration: 0s;
        transition-delay: calc(0s + 0.35s);
    }

    #wrapper nav #toggler:checked + .toggle .bar.bar--bottom {
        top: calc(50% - 4px/ 2);
        transform: rotate(225deg);
        transition-delay: 0s,calc(0s + 0.35s);
    }
}


/* FOOTER */
#wrapper footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    background: #292929;
    color: #e2e2e2;
    font-size: 18px;
    z-index: 10;
    position: relative;
    margin: 0 0 50px 0;
    bottom:0;
}

#wrapper footer .container{
    width: 200px;
    display: flex;
    flex-direction: column;
}

#wrapper footer .container h5{
    font-size: 20px;
    margin-bottom: 10px;
    color: #b3b3b3;
}

#wrapper footer .container .item a{
    color: #9b9b9b;
    text-decoration: none;
    transition: opacity ease-in-out .2s;
}

#wrapper footer .container .item a:hover{
    opacity: 0.5;
}

#wrapper .copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-bottom: 0;
    color: #b3b3b3
}

#wrapper hr{
    width: 80vw;
    margin: auto;
    outline: 0;
    border: none;
    height: 3px;
    background: rgba(200,200,200,0.5);
}

/* RESPONSIVE DESIGN - FOOTER */
@media screen and (max-width:800px){
    #wrapper footer{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #wrapper footer .container{
        margin: 0 20px; 
        text-align: center;
    }
}

/* Datenschutz und Impressum */

#wrapper .privacy{
    padding: 0px 50px;
    color: #e2e2e2;
}

/* Home | header */

#wrapper header[target=index] .bg{
    background: url("../assets/images/IMG_1294.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    filter: blur(5px) grayscale(0.5) hue-rotate(310deg) opacity(0.4);
    overflow: hidden;
    position: absolute;
    z-index: 0;
    animation: opacity-fade-in 1s ease-in;
}

#wrapper header[target=index] .title{
    font-family: ocra;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 70px;
    animation: transform-y-fade-in 1s ease-in-out;
}

#wrapper header[target=index] .title span{
    padding-top: 20px;
    font-size: 25px;
    text-align: right;
    width: 550px;
}

#wrapper header:not([target=index]){
    padding-top: 100px;
    width: 100%;
    text-align: center;
}

/* section */
#wrapper section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* img left */
#wrapper section .img-left{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    background: #292929;
}

#wrapper section .img-left .img{
    width: 50%;
    background: url("../assets/images/background2.jpg");
    background-position: center;
    background-size: cover;
}

#wrapper section .img-left .text{
    width: 50%;
    padding: 50px;
    color: #e2e2e2;
}

#wrapper section .img-left .text h1{
    margin-bottom: 0px;

}

#wrapper section .img-left .text h2{
    font-size: 18px;

}

/* img right */
#wrapper section .img-right{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    z-index: 1;
    background: #292929;
}

#wrapper section .img-right .img{
    width: 50%;
    background: url("../assets/images/rpi.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

#wrapper section .img-right .text{
    width: 50%;
    padding: 50px;
    color: #e2e2e2;
}

#wrapper section .img-right .text h1{
    margin-bottom: 0px;

}

#wrapper section .img-right .text h2{
    font-size: 18px;
}

/* cards */

#wrapper section .cards {
    margin: 10px 0 20px 0;
    border-radius: 24px;
    padding: 8px;
    border: 1px solid rgb(66, 66, 66);
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: row;
	 gap: 0.5rem;
	 max-width: 80%;
	 padding: 8px;
}

 #wrapper section .cards:hover .card {
	 background: radial-gradient(100rem circle at var(--xPos) var(--yPos), rgba(0, 255, 241, 0.4), transparent 15%);
}

 #wrapper section .cards .card {
	 width: 20rem;
	 height: 15rem;
	 background: radial-gradient(150rem circle at 0 0, rgba(0, 255, 241, 0), transparent 0%);
	 border-radius: 16px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: relative;
	 transition: all 0.15s;
}

#wrapper section  .cards .card:hover::before {
	 opacity: 1;
}

#wrapper section  .cards .card::before {
	 content: "";
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 border-radius: inherit;
	 background: radial-gradient(60rem circle at var(--xPos) var(--yPos), rgba(0, 255, 241, 0.1), transparent 35%);
	 opacity: 0;
	 transition: all 0.15s ease-in-out;
}

#wrapper section  .cards .card .card-content {
	 background-color: #13161c;
	 border-radius: inherit;
	 transition: all 0.25s;
	 height: calc(100% - 0.1rem);
	 width: calc(100% - 0.1rem);
}

/* RESPONSIVE DESIGN */
@media screen and (max-width:700px) {
    #wrapper header[target=index]{
        height: 80vh;
    }

    #wrapper header[target=index] .title{
        width: 100vw;
        font-size: 32px;
    }

    #wrapper header[target=index] .title span{
        font-size: 20px;
        width: 90vw;
    }

    #wrapper section .img-left, #wrapper section .img-right{
        display: flex;
        flex-direction: column-reverse;
    }

    #wrapper section .img-left .img, #wrapper section .img-right .img{
        width: 100%;
        height: 200px;
    }

    #wrapper section .img-left .text, #wrapper section .img-right .text{
        width: 100%;
    }
}